<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dd6e4ea2-8741-4080-bb13-8815f8155f62/resourceGroups/DataHive/providers/Microsoft.Web/sites/datahive</ResourceId>
    <ResourceGroup>DataHive</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://datahive.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>datahive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>datahive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$datahive</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PersonalFinanceAppEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:datahive-personalfinance.database.windows.net,1433;Initial Catalog=PersonalFinanceApp;Persist Security Info=True;User ID=datahive;Password=Pesodamus69;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:datahive-personalfinance.database.windows.net,1433;Initial Catalog=PersonalFinanceApp;Persist Security Info=True;User ID=datahive;Password=Pesodamus69;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PersonalFinance.PersonalFinanceAppEntities, PersonalFinance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:datahive-personalfinance.database.windows.net,1433;Initial Catalog=PersonalFinanceApp;Persist Security Info=True;User ID=datahive;Password=Pesodamus69;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:datahive-personalfinance.database.windows.net,1433;Initial Catalog=PersonalFinanceApp;Persist Security Info=True;User ID=datahive;Password=Pesodamus69;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PersonalFinance.Models.ApplicationDbContext, PersonalFinance" MigrationConfiguration="PersonalFinance.Migrations.Configuration, PersonalFinance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:datahive-personalfinance.database.windows.net,1433;Initial Catalog=PersonalFinanceApp;Persist Security Info=True;User ID=datahive;Password=Pesodamus69;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PersonalFinanceAppEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/PersonalFinanceModel.csdl|res://*/PersonalFinanceModel.ssdl|res://*/PersonalFinanceModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:datahive-personalfinance.database.windows.net,1433;Initial Catalog=PersonalFinanceApp;Persist Security Info=True;User ID=datahive;Password=Pesodamus69;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>