@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-danger">Error</h1>
<h3 class="text-danger">Uh oh! Looks like you have not confirmed your email address.</h3>
<p>
    <text>For your protection we require all new users to confirm their email address.</text>
    <text> A new verification link has been sent to the email address provided at account creation.</text>
</p>
