@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Yikes!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-center md animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-close-circle"></i>
            </div>
            <div class="header-title">
                <h3>Oh Snap!</h3>
                <small>
                    Page Not Found!
                </small>
            </div>
        </div>
        <div class="panel panel-filled">
            <div class="panel-body">
                Our bad, it looks like something got mixed up on our end. Try checking the URL for an error or use the link below to get you back home.

            </div>
        </div>
        <div>
            <a href="@Url.Action("Main","Dashboard")" class="btn btn-accent">Back to app</a>
        </div>
    </div>
</section>

